.bg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 75%;
    margin: auto;
}

.todolist{
    color:rgb(0, 98, 255);
    font-size:xx-large;
    font-weight: 800;
    margin-left: 20px;
    margin-top: 5px;
}

.activitybar{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.submitbutton{
    display: flex;
    background-color: rgb(0, 98, 255);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 15%;
    margin-left: auto;
    justify-content: center;
}

.submitbutton:hover{
    background-color: rgb(38, 121, 253);

}

.title{
    display: flex;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 20%;
    border: 1px solid rgb(0, 98, 255);
}

.desc{
    display: flex;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 40%;
    border: 1px solid rgb(0, 98, 255);
}

.form{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    height: 350px;
    width: 100%;
    justify-content: center;
}

.listelem{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 25%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(220, 220, 220);
    margin-top: 15px;
}

.listdiv{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: 50%;
    width: 60%;
    border-radius: 10px;
}

.listdiv h1, h2, p{
    margin-left: 20px;
}

.btbox{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.edit{
    display: flex;
    padding: 10px;
    height: 100%;
    width: 40%;
    background-color: rgb(37, 234, 106);
    color: white;
    font-weight: 500;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.edit:hover{
    background-color: rgb(96, 232, 144);
}

.delete{
    display: flex;
    padding: 10px;
    height: 100%;
    width: 40%;
    background-color: rgb(255, 99, 71);
    color: white;
    font-weight: 500;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.delete:hover{
    background-color: rgb(251, 126, 104);

}